@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

@layer base {
	html {
		@apply bg-black;
	}

	h1,
	h2,
	h3,
	h4 {
		@apply text-white font-serif font-normal;
	}

	h1 {
		@apply text-4xl;
		@apply sm:text-5xl;
		@apply font-thin;
	}

	h2 {
		@apply text-3xl;
	}

	h3 {
		@apply text-2xl;
	}

	p,
	a,
	span {
		@apply text-white font-serif font-normal leading-7;
	}

	.button {
		@apply bg-gold px-8 py-2 uppercase;
	}
}

body {
	scrollbar-gutter: stable both-edges;
}

.perspective-container {
	perspective: 300px;
}

.perspective-text {
	transform: rotateX(0deg) rotateY(21deg);
	transform-style: preserve-3d;
}

.gradient-bg-cover {
	background: linear-gradient(45deg, #312c28 0%, #615851 100%);
}
