@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

@layer base {
	html {
		@apply bg-black;
	}

	p,
	span,
	h1,
	h2,
	h3,
	h4 {
		@apply text-white font-serif font-normal;
	}

	h1 {
		@apply text-4xl;
	}

	h2 {
		@apply text-3xl;
	}

	h3 {
		@apply text-2xl;
	}
}

.perspective-container {
	perspective: 300px;
}

.perspective-text {
	transform: rotateX(0deg) rotateY(21deg);
	transform-style: preserve-3d;
}
